.giscus-container {
    background-color: var(--card-background);
    border-radius: var(--card-border-radius);
    box-shadow: var(--shadow-l1);
    padding: var(--card-padding);
    padding-bottom: calc(var(--card-padding) - 16px);
}