<section class="widget navbar">
    <a class="widget-link" href="#comments-container">
        <div class="widget-icon">
            {{ partial "helper/icon" "messages" }}
        </div>
        <h2 class="widget-title section-title"> 评论 </h2>
    </a>
    <div class="widget-link" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
        <div class="widget-icon">
            {{ partial "helper/icon" "arrows-up" }}
        </div>
        <h2 class="widget-title section-title"> 返回顶部 </h2>
    </div>
</section>