.article-content {
    .tab-nav-button {
        border-width: 1px 1px 1px 1px !important;
        border-color: #ccc !important;
        border-radius: 4px 4px 0 0 !important;
        background-color: var(--accent-color);
        float: left;
        display: block;
        position: relative;
        margin-left: 4px;
        bottom: -1px;
    }
    .tab-nav-button:first-child {
        margin-left: 0px;
    }
    .tab-nav-button.active {
        background-color: var(--accent-color-darker);
        border-bottom-color: #fff !important;
    }
    
    .tab-panel {
        // padding: calc(var(--card-padding) / 2);
        // margin: calc(var(--card-padding) / 2);
        
        margin-left: calc((var(--card-padding)) * -0.5);
        margin-right: calc((var(--card-padding)) * -0.5);
    }
    .tab-content {
        display: block;
        clear: both;
        padding: calc(var(--card-padding) / 2);
        // padding: 8px;
        // border-width: 1px;
        // border-style: solid;
        // border-color: #ccc;
        
        background-color: rgba(100, 100, 100, 0.3);
        border-radius: var(--card-border-radius);
        box-shadow: var(--shadow-l1);
    }
    .tab-content .tab-item{
        display: none;
    }
    
    .tab-content .tab-item.active{
        display: block;
    }
    
    .tab-item {
        /// Adjust items with negative margins
        blockquote,
        figure,
        .highlight,
        pre,
        .gallery,
        .video-wrapper,
        .table-wrapper,
        .s_video_simple {
            margin-left: calc((var(--card-padding)) * -0.5);
            margin-right: calc((var(--card-padding)) * -0.5);
            width: calc(100% + var(--card-padding));
        }

        pre {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}
