{{- $path := default (.Get 0) (.Get "path") }}
{{- $ext := path.Ext $path | strings.TrimPrefix "." }}
{{- $type := default $ext (.Get "type") }}
{{- $options := default "" (.Get "option") }}
{{- $fold := default false (.Get "fold") -}}

<details class="article-notice code-notice" {{ if not $fold }}open{{ end }}>
    <summary class="article-notice-title">
        {{ partial "helper/icon" "notice/file-code" }}
        <span>{{ $path }}</span>
        <div class="panel-button" data-action="copy">{{ partial "helper/icon" "copy" }}</div>
        <div class="panel-button" data-action="number">{{ partial "helper/icon" "list-number" }}</div>
        <div class="code-lang">{{ upper $type }}</div>
        {{ partial "helper/icon" "chevron-right" }}
    </summary>
    <div class="article-notice-body">
        {{ highlight (readFile $path) $type $options }}
    </div>
</details>