{{- $title := default (.Get 0) (.Get "title") -}}
{{- $style := default "_unset" (default (.Get 1) (.Get "style")) -}}
{{- $fold := default false (.Get "fold") -}}
{{- $hasInner := gt (len (trim .Inner " \r\n")) 0 }}

{{ $class := slice "article-notice" }}
{{ if (ne $style "_unset") }}
    {{ $class = $class | append $style }}
{{ end }}

{{ if $hasInner }}
<details class="{{ delimit $class ` ` }}" {{ if not $fold }}open{{ end }}>
    <summary class="article-notice-title">
        {{ with .Get "icon" }}
            {{ partial "helper/icon" . }}
        {{ else }}
            {{ if (ne $style "_unset") }}
                {{ partial "helper/icon" (printf "notice/%s" $style) }}
            {{ end }}
        {{ end }}
        <span>{{ $title }}</span>
        {{ partial "helper/icon" "chevron-right" }}
    </summary>
    <div class="article-notice-body">
        <section>
            {{ .Inner | .Page.RenderString }}
        </section>
    </div>
</details>
{{ else }}
<div class="{{ delimit $class ` ` }}">
    <div class="article-notice-title-only">
        {{ with .Get "icon" }}
            {{ partial "helper/icon" . }}
        {{ else }}
            {{ if (ne $style "_unset") }}
                {{ partial "helper/icon" (printf "notice/%s" $style) }}
            {{ end }}
        {{ end }}
        <span>{{ $title }}</span>
    </div>
</div>
{{ end }}
